<html>
<body>
<h2>Chaos Proxy UI</h2>
<form method="POST" action="/createNewProxy">
    <label>Port:</label><br>
    <input type="number" name="port"/><br><br>

    <label>Server Host:</label><br>
    <input type="text" name="serverHost"/><br><br>

    <label>Port:</label><br>
    <input type="number" name="serverPort"/><br><br>

    <button type="submit">Apply</button>
</form>
</body>
</html>
